@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=REM&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
    font-family: 'REM', sans-serif;
}
